img {
    width: 200px;
    height: 200px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#content {
    padding: 30px;
    width: 350px;
}